{
  "presets": [
    ["env", {
        "modules": "umd",
        "targets": {
          "browsers": "> 0.3%",
          "uglify": true,
          "firefox": "45"
        },
        "useBuiltIns": true
    }]
  ]
}
